In [237]:
print("Hello")
print("Hello")

Hello
Hello

In [238]:
print("It's alright")
print("He is calles 'Johnny'")
print("He is calles 'Johnny'")

It's alright
He is calles 'Johnny'
He is calles 'Johnny'

In [239]:
a = "Hello"
print(a)

Hello

In [240]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [241]:
# also we can write '''
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [242]:
a = "Hello, World!"
print(a[1])

e

In [243]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [244]:
a = "Hello, World!"
print(len(a))

13

In [245]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [246]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

In [247]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [248]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

In [249]:
b = "Hello, World!"
print(b[2:5])

llo

In [250]:
b = "Hello, World!"
print(b[:5])

Hello

In [251]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [252]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [253]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [254]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [255]:
a = "Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [256]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [257]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', 'World!']

['Hello', ' World!']

In [258]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [259]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [260]:
"""age = 36
txt = "My name is John, I am" + age
print(txt) """
# wrong syntax

'age = 36\ntxt = "My name is John, I am" + age\nprint(txt) '

In [261]:
age = 36
txt = f"My name is John. I am {age}"
print(txt)

My name is John. I am 36

In [262]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [263]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [264]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [265]:
txt = "We are the so-called \"Vikings\" from the north. "
print(txt)

We are the so-called "Vikings" from the north.

In [266]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [267]:
txt = "This will insert one \\ (backlash)."
print(txt)

This will insert one \ (backlash).

In [268]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [269]:
txt = "Hello\rWorld!"
print(txt)

World!

In [270]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [271]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [272]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [273]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [274]:
# Capitalize

txt = "hello, and welcome to my World."

x = txt.capitalize()
print(x)

Hello, and welcome to my world.

In [275]:
txt = "36 is my age"

x = txt.capitalize()

print(x)

36 is my age

In [276]:
# CaseFold

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [277]:
# Center

txt = "banana"

x = txt.center(20)

print(x)

       banana

In [278]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [279]:
# Count    string.count(value, start, end)

txt = "I love apples, apple are my favourite fruit"

x = txt.count("apple")
print(x)

2

In [280]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [281]:
# Encode   string.encode(encoding=encoding, errors=errors)

txt = "My name is Ståle"
x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [282]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [283]:
# endswith()     string.endswith(value, start, end)

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [284]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [285]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)
#Check if position 5 to 11 ends with the phrase "my world."

False

In [286]:
#Check if the string ends with either the phrase "world." or "castle."
txt = "HEllo, welcome to my castle."

x = txt.endswith(("world.", "castle."))
print(x)

True

In [287]:
txt = "H\te\tl\tl\to"

x = txt.expandtabs(2)

print(x)

H e l l o

In [288]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [289]:
# find()

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [290]:
# string.find(value, start, end)

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [291]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [292]:
"""txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))



-1
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[4159], line 4
      1 txt = "Hello, welcome to my world."
      3 print(txt.find("q"))
----> 4 print(txt.index("q"))

ValueError: substring not found
"""

'txt = "Hello, welcome to my world."\n\nprint(txt.find("q"))\nprint(txt.index("q"))\n\n\n\n-1\n---------------------------------------------------------------------------\nValueError                                Traceback (most recent call last)\nCell In[4159], line 4\n      1 txt = "Hello, welcome to my world."\n      3 print(txt.find("q"))\n----> 4 print(txt.index("q"))\n\nValueError: substring not found\n'

In [293]:
# format

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [294]:
#string.format(value1, value2...)

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)
# also format has to Types!!

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [295]:
# index

txt = "Hello, welcome to my world!."

x = txt.index("welcome")

print(x)

7

In [296]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [297]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [298]:
# isalnum()

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [299]:
# isalpha

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [300]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [301]:
# isascii()

txt = "Company123"

x = txt.isascii()

print(x)

True

In [302]:
# isdecimal()

txt = "1234"

x = txt.isdecimal()

print(x)

True

In [303]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [304]:
# isdigit

txt = "50800"

x = txt.isdigit()

print(x)

True

In [305]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [306]:
#isidentifier()

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [307]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [308]:
# islower()

txt = "hello world!"

x = txt.islower()

print(x)

True

In [309]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [310]:
# isnumeric

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [311]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [312]:
# isprintable()

txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [313]:
# isspace()

txt = "   "

x = txt.isspace()

print(x)

True

In [314]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [315]:
# istitle()

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [316]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [317]:
# isupper

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [318]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [319]:
# join

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [320]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [321]:
# Ijust()

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [322]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [323]:
# lower()

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [324]:
#lstrip()

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [325]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [326]:
# maketrans()

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [327]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [328]:
# partition()

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [329]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [330]:
# replace()

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [331]:
#rfind()

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [332]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [333]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [334]:
# rindex()

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [335]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [336]:
# rjust()

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [337]:
# rpartition()

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [338]:
# rsplit()

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [339]:
# rstrip

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [340]:
# split()

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [341]:
# splitlines()

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [342]:
# startswith()

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [343]:
# strip()

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [344]:
# swapcase()

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [345]:
# title

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [346]:
# translate()

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [347]:
# upper()

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [348]:
# zfill()

txt = "50"

x = txt.zfill(10)

print(x)

0000000050