SYNTAX

In [ ]:
print("Hello World")

In [11167]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [11168]:
# Wrong Syntax!
#if 5 > 2:
#print("Five is greater than two!")

In [11169]:
# also we can write
if 5 > 2:
    print("Five is greater that two!")
if 5 > 2:
            print("Five is greater than two!")

Five is greater that two!
Five is greater than two!

In [11170]:
#Wrong Syntax
#if 5 > 2:
    #print("Five is greater than two!")
        #print("Five is greater than two!")

In [11171]:
#This is a comment. :D

In [11172]:
x = 5
y = "Hello World!"

print(x)
print(y)

5
Hello World!

In [11173]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [11174]:
x = 4          # x is of type int
x = "Sally"    # x is now of type str
print(x)

Sally

In [11175]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [11176]:
# type() function
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11177]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [11178]:
a = 4
A = "Sally"
# A will not overwrite a
print(a)
print(A)

4
Sally

In [11179]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(my_var)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [11180]:
# Illegal variable names:
"""
2myvar = "John"
my-var = "John"
my var = "John"
"""

'\n2myvar = "John"\nmy-var = "John"\nmy var = "John"\n'

In [11181]:
# Camel Case
myVariableName = "John"
print(myVariableName)

# Pascal Case
MyVariableName = "John"
print(MyVariableName)

# Snake Case
my_variable_name = "John"
print(my_variable_name)

John
John
John

In [11182]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11183]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11184]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11185]:
x = "Python is awesome"
print(x)

Python is awesome

In [11186]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [11187]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [11188]:
x = 5
y = 10
print(x + y)

15

In [11189]:
"""
Incorrect

x = 5
y = "John
print(x + y)
"""

'\nIncorrect\n\nx = 5\ny = "John\nprint(x + y)\n'

In [11190]:
x = 5
y = "John"
print(x, y)

5 John

In [11191]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [11192]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [11193]:
def myfunc():
    global qwe
    qwe = "fantastic"

myfunc()

print("Python is " + qwe)

Python is fantastic

In [11194]:
s = "awesome"

def myfunc():
    global s
    s = "fantastic"

myfunc()

print("Python is " + s)

Python is fantastic

In [11195]:
x = 5
print(type(x))

<class 'int'>

In [11196]:
x = 1   # int
y = 2.8 # float
z = 1j  # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11197]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [11198]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [11199]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [11200]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [11201]:
x = 1   # int
y = 2.8 # float
z = 1j  #complex

#convert from int to float:
a = float(x)


#convert from float to int:
b = int(y)


#convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [11202]:
import random

print(random.randrange(1, 10))

8

In [11203]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [11204]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x, y, z, w)

1.0 2.8 3.0 4.2

In [11205]:
x = str("s1")  # x will be 's1'
y = str(2)     # y will be '2'
z = str(3.0)   # z will be '3.0' 

print(x, y, z)

s1 2 3.0

String:

In [11206]:
print("Hello")
print("Hello")

Hello
Hello

In [11207]:
print("It's alright")
print("He is calles 'Johnny'")
print("He is calles 'Johnny'")

It's alright
He is calles 'Johnny'
He is calles 'Johnny'

In [11208]:
a = "Hello"
print(a)

Hello

In [11209]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [11210]:
# also we can write '''
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [11211]:
a = "Hello, World!"
print(a[1])

e

In [11212]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [11213]:
a = "Hello, World!"
print(len(a))

13

In [11214]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [11215]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

In [11216]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [11217]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present")

No, 'expensive' is NOT present

In [11218]:
b = "Hello, World!"
print(b[2:5])

llo

In [11219]:
b = "Hello, World!"
print(b[:5])

Hello

In [11220]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [11221]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [11222]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [11223]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [11224]:
a = "Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [11225]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [11226]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', 'World!']

['Hello', ' World!']

In [11227]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [11228]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [11229]:
"""age = 36
txt = "My name is John, I am" + age
print(txt) """
# wrong syntax

'age = 36\ntxt = "My name is John, I am" + age\nprint(txt) '

In [11230]:
age = 36
txt = f"My name is John. I am {age}"
print(txt)

My name is John. I am 36

In [11231]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [11232]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [11233]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [11234]:
txt = "We are the so-called \"Vikings\" from the north. "
print(txt)

We are the so-called "Vikings" from the north.

In [11235]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [11236]:
txt = "This will insert one \\ (backlash)."
print(txt)

This will insert one \ (backlash).

In [11237]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [11238]:
txt = "Hello\rWorld!"
print(txt)

World!

In [11239]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [11240]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [11241]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [11242]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [11243]:
# Capitalize

txt = "hello, and welcome to my World."

x = txt.capitalize()
print(x)

Hello, and welcome to my world.

In [11244]:
txt = "36 is my age"

x = txt.capitalize()

print(x)

36 is my age

In [11245]:
# CaseFold

txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [11246]:
# Center

txt = "banana"

x = txt.center(20)

print(x)

       banana

In [11247]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [11248]:
# Count    string.count(value, start, end)

txt = "I love apples, apple are my favourite fruit"

x = txt.count("apple")
print(x)

2

In [11249]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [11250]:
# Encode   string.encode(encoding=encoding, errors=errors)

txt = "My name is Ståle"
x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [11251]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [11252]:
# endswith()     string.endswith(value, start, end)

txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [11253]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [11254]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)
#Check if position 5 to 11 ends with the phrase "my world."

False

In [11255]:
#Check if the string ends with either the phrase "world." or "castle."
txt = "HEllo, welcome to my castle."

x = txt.endswith(("world.", "castle."))
print(x)

True

In [11256]:
txt = "H\te\tl\tl\to"

x = txt.expandtabs(2)

print(x)

H e l l o

In [11257]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [11258]:
# find()

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [11259]:
# string.find(value, start, end)

txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [11260]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [11261]:
"""txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))



-1
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[4159], line 4
      1 txt = "Hello, welcome to my world."
      3 print(txt.find("q"))
----> 4 print(txt.index("q"))

ValueError: substring not found
"""

'txt = "Hello, welcome to my world."\n\nprint(txt.find("q"))\nprint(txt.index("q"))\n\n\n\n-1\n---------------------------------------------------------------------------\nValueError                                Traceback (most recent call last)\nCell In[4159], line 4\n      1 txt = "Hello, welcome to my world."\n      3 print(txt.find("q"))\n----> 4 print(txt.index("q"))\n\nValueError: substring not found\n'

In [11262]:
# format

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [11263]:
#string.format(value1, value2...)

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)
# also format has to Types!!

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [11264]:
# index

txt = "Hello, welcome to my world!."

x = txt.index("welcome")

print(x)

7

In [11265]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [11266]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [11267]:
# isalnum()

txt = "Company12"

x = txt.isalnum()

print(x)

True

In [11268]:
# isalpha

txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [11269]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [11270]:
# isascii()

txt = "Company123"

x = txt.isascii()

print(x)

True

In [11271]:
# isdecimal()

txt = "1234"

x = txt.isdecimal()

print(x)

True

In [11272]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [11273]:
# isdigit

txt = "50800"

x = txt.isdigit()

print(x)

True

In [11274]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

In [11275]:
#isidentifier()

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [11276]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [11277]:
# islower()

txt = "hello world!"

x = txt.islower()

print(x)

True

In [11278]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [11279]:
# isnumeric

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [11280]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [11281]:
# isprintable()

txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [11282]:
# isspace()

txt = "   "

x = txt.isspace()

print(x)

True

In [11283]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [11284]:
# istitle()

txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [11285]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [11286]:
# isupper

txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [11287]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [11288]:
# join

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [11289]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [11290]:
# Ijust()

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [11291]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [11292]:
# lower()

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [11293]:
#lstrip()

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [11294]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [11295]:
# maketrans()

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [11296]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [11297]:
# partition()

txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [11298]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [11299]:
# replace()

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [11300]:
# rfind()

txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [11302]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [11065]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [11303]:
# rindex()

txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [11304]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [11305]:
# rjust()

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [11306]:
# rpartition()

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [11307]:
# rsplit()

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [11308]:
# rstrip

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [11309]:
# split()

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [11310]:
# splitlines()

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [11311]:
# startswith()

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [11312]:
# strip()

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [11313]:
# swapcase()

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [11314]:
# title

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [11315]:
# translate()

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [11316]:
# upper()

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [11317]:
# zfill()

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

BOOL

In [11318]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [11319]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [11320]:
print(bool("Hello"))
print(bool(15))

True
True

In [11321]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [11322]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [11323]:
# The following will return False:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [11324]:
class myclass():
    def __len__(self):
        return 0
    
myobj = myclass()
print(bool(myobj))

False

In [11325]:
def myFunction() :
    return True

print(myFunction)

<function myFunction at 0x0000018CCF6493A0>

In [11326]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [11327]:
x = 200
print(isinstance(x, int))

True

In [11328]:
x = 20
y = 10

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)
print(x & y)
print(x | y)
print(x ^ y)
print(~x)

30
10
200
2.0
0
10240000000000
2
0
30
30
-21

LIST

In [11329]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

thislist1 = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [11330]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

list1 = ["abc", 34, True, 40, "male"]
print(list1)

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

thislist1 = list(("apple", "banana", "cherry"))
print(thislist)

3
['abc', 34, True, 40, 'male']
<class 'list'>
['apple', 'banana', 'cherry']

In [11331]:
thislist = ["apple", "banana", "cherry"]

print(thislist[1])
print(thislist[-1])

thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist1[2:5])

banana
cherry
['cherry', 'orange', 'kiwi']

In [11332]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

if "apple" in thislist:
    print("YEs, 'apple' is in the fruits list")

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
YEs, 'apple' is in the fruits list

In [11333]:
thislist = ["apple", "cherry", "banana"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'banana']

In [11334]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant  :D", "watermelon   XD"]

print(thislist)


thislist1 = ["apple", "banana", "cherry"]
thislist1[1:2] = ["blackcurrant", "watermelon  ._."]
print(thislist1)


thislist2 = ["apple", "banana", "orange"]
thislist2[1:3] = ["watermelon  <_>"]

print(thislist2)


thislist3 = ["apple", "banana", "cherry"]
thislist3.insert(2, "watermelon :D")

print(thislist3)

['apple', 'blackcurrant  :D', 'watermelon   XD', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon  ._.', 'cherry']
['apple', 'watermelon  <_>']
['apple', 'banana', 'watermelon :D', 'cherry']

In [11335]:
New_List = ["apple", "cherry", "orange"]
New_List.append("banana")

print(New_List)



New_List1 = ["apple", "banana", "cherry"]
New_List1.insert(1, "orange")

print(New_List1)



SimpleFruits = ["apple", "banana", "cherry"]
TropicalFruits = ["mango", "pineapple", "papaya"]

SimpleFruits.extend(TropicalFruits)
print(SimpleFruits)



thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'cherry', 'orange', 'banana']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [11336]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")

print(thislist)



thislist1 = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist1.remove("banana")

print(thislist1)



thislist2 = ["apple", "banana", "cherry"]
thislist2.pop(1)

print(thislist2)

['apple', 'cherry']
['apple', 'cherry', 'banana', 'kiwi']
['apple', 'cherry']

In [11337]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()

print(thislist)



thislist1 = ["apple", "banana", "cherry"]
del thislist1[0]

print(thislist1)




thislist2 = ["apple", "banana", "cherry"]
thislist2.clear()

print(thislist2)

['apple', 'banana']
['banana', 'cherry']
[]

In [11338]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

print("Second For:")

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry
Second For:
apple
banana
cherry

In [11339]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [11340]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [11341]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

# also we write 

newlist1 = [x for x in fruits if "a" in x]
print(newlist1)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [11342]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]
print(newlist)


newlist1 = [x for x in fruits]
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [11343]:
newlist = [x for x in range(10)]
print(newlist)


newlist1 = [x for x in range(10) if x < 5]
print(newlist1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [11344]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)


newlist1 = ['hello' for x in fruits]
print(newlist1)


newlist2 = [x if x != "banana" else "orange" for x in fruits]
print(newlist2)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [11345]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()

print(thislist)


thislist.sort(reverse=True)
print(thislist)



thislist1 = [100, 50, 65, 82, 23]
thislist1.sort()

print(thislist1)


thislist1.sort(reverse=True)
print(thislist1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [11346]:
def myfunc(n):
    return abs(n-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [11347]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)


thislist.sort(key = str.lower)
print(thislist)


thislist1 = ["banana", "Orange", "Kiwi", "cherry"]
thislist1.reverse()
print(thislist1)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']

In [11348]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)


mylist1 = list(thislist)
print(mylist1)


mylist2 = thislist[:]
print(mylist2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [11349]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)


for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [11350]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

TUPLES

In [11351]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry')
3

In [11352]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple1 = ("apple")
print(type(thistuple1))

<class 'tuple'>
<class 'str'>

In [11353]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [11354]:
tihstuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])


thistuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple1[2:5])
print(thistuple1[:4])
print(thistuple1[2:])

banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [11355]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])


thistuple1 = ("apple", "banana", "cherry")
if "apple" in thistuple1:
    print("Yes, 'apple' is in the fruits tuple")

('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

In [11356]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [11357]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [11358]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [11359]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [11360]:
"""thistuple = ("apple", "banana", "cherry")
del thistuple # del deleted this variable
print(thistuple) #this will raise an error because the tuple no longer exists
"""

'thistuple = ("apple", "banana", "cherry")\ndel thistuple # del deleted this variable\nprint(thistuple) #this will raise an error because the tuple no longer exists\n'

In [11361]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [11362]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [11363]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [11364]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [11365]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [11366]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [11367]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)


fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

SETS

In [11368]:
thisset = {"apple", "banana", "cherry"}
print(thisset)


thisset1 = {"apple", "banana", "cherry", "apple"}
print(thisset1)


thisset2 = {"apple", "banana", "cherry", True, 1, 2}
print(thisset2)

{'apple', 'banana', 'cherry'}
{'apple', 'banana', 'cherry'}
{True, 2, 'apple', 'banana', 'cherry'}

In [11369]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))


myset = {"apple", "banana", "cherry"}
print(type(myset))


thisset1 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset1)

3
<class 'set'>
{'apple', 'banana', 'cherry'}

In [11370]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)


thisset1 = {"apple", "banana", "cherry"}
print("banana" in thisset)

print("banana" not in thisset)

apple
banana
cherry
True
False

In [11371]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [11372]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'pineapple', 'papaya', 'mango', 'cherry'}

In [11373]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'cherry', 'orange', 'kiwi'}

In [11374]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [11375]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [11376]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [11377]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [11378]:
"""
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError                                 Traceback (most recent call last)
Cell In[8885], line 3
      1 thisset = {"apple", "banana", "cherry"}
      2 del thisset
----> 3 print(thisset)

NameError: name 'thisset' is not defined
"""

'\nthisset = {"apple", "banana", "cherry"}\ndel thisset\nprint(thisset)\n\nNameError                                 Traceback (most recent call last)\nCell In[8885], line 3\n      1 thisset = {"apple", "banana", "cherry"}\n      2 del thisset\n----> 3 print(thisset)\n\nNameError: name \'thisset\' is not defined\n'

In [11379]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [11380]:
# UNION
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [11381]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)
# | also union

{1, 2, 3, 'b', 'c', 'a'}

In [11382]:
# Join Multiple Sets

set1 - {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)
# OR
myset1 = set1|set2|set3|set4
print(myset1)

{1, 2, 3, 'apple', 'b', 'c', 'a', 'Elena', 'cherry', 'bananas', 'John'}
{1, 2, 3, 'apple', 'b', 'c', 'a', 'Elena', 'cherry', 'bananas', 'John'}

In [11383]:
# Join a Set and a Tuple

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [11384]:
# Update
x = {"a", "b", "c"}
y = (1, 2, 3)

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [11385]:
#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)
# OR
set3_1 = set1 & set2
print(set3_1)

{'apple'}
{'apple'}

In [11386]:
# Intersection_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [11387]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [11388]:
#Difference

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)
#OR
set3_1 = set1 - set2
print(set3_1)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [11389]:
# Difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [11390]:
# Symmetric_difference()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)
#OR
set3_1 = set1 ^ set2
print(set3_1)

{'google', 'banana', 'cherry', 'microsoft'}
{'google', 'banana', 'cherry', 'microsoft'}

In [11391]:
# Symmetric_difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

DICTIONARIES

In [11392]:
thisdict = {
    "brand": "Fors",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Fors', 'model': 'Mustang', 'year': 1964}
Fors

In [11393]:
thisdict = {
    "brand": "Fors",
    "model": "Mustang",
    "year": 1964,
    "year": 2020 # printing the last one
}
print(thisdict)

{'brand': 'Fors', 'model': 'Mustang', 'year': 2020}

In [11394]:
thisdict = {
    "brand": "Fors",
    "model": "Mustang",
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(thisdict)
print(type(thisdict))

{'brand': 'Fors', 'model': 'Mustang', 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

In [11395]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [11396]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
y = thisdict.get("model")

print(x)
print(y)

z = thisdict.keys()

print(z)

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])

In [11397]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [11398]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [11399]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["color"] = "red"

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [11400]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)

car["year"] = 2020

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [11401]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)

car["color"] = "red"

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [11402]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [11403]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [11404]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [11405]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [11406]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [11407]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [11408]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [11409]:
"""thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.
"""

'thisdict = {\n  "brand": "Ford",\n  "model": "Mustang",\n  "year": 1964\n}\ndel thisdict\nprint(thisdict) #this will cause an error because "thisdict" no longer exists.\n'

In [11410]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [11411]:
# Loop Through a Dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [11412]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [11413]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [11414]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [11415]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [11416]:
#Copy a Dictionary

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11417]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11418]:
# Nested Dictionaries

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [11419]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [11420]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

Tobias

In [11421]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

IF ELSE

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
"""
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error
"""

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")